@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
* {
	box-sizing: border-box
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
	background-color: #fff
}

a {
	text-decoration: none
}

img {
	width: 100%;
	height: auto;
	padding: 1rem
}

#main {
	height: 70vh;
	color: #242424
}

#brand {
	font-weight: 700;
	font-size: 1.125rem
}

#social {
	height: 20vh;
	color: #242424
}

#copyright {
	height: 10vh;
	color: #575760;
	margin: auto;
	text-align: center;
	border-top: 1px solid;
	border-color: #dee4ee
}

#copyright a {
	color: #575760;
}

.flex {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center
}

.child {
	max-width: 50%
}

.fas,
.fab {
	padding: .5rem;
	font-size: 1.125rem;
	color: #24242480
}

.fas:hover,
.fab:hover {
	color: #242424
}

@media(max-width:768px) {
	.child {
		max-width: 80%
	}
}
